.trending-swiper-button-next,
  .trending-swiper-button-prev {
    /* color: #3B82F6; Tailwind blue-500 */
    background: white;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 8px rgba(212, 207, 207, 0.1);
    transition: all 0.3s ease;
    border: 1px solid rgb(235, 233, 233);
  }
  
  .trending-swiper-button-next:hover,
  .trending-swiper-button-prev:hover {
    background: #ededed; /* Light blue on hover */
    /* box-shadow: 0 4px 12px rgba(59, 130, 246, 0.2); */
  }
  .banner-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Dark transparent overlay */
  z-index: 1;
}